<div class="card mt-5">
    <div class="card-header">
        Books
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn-primary">Crear Nuevo</a>
            </div>
            <div class="col-md-8">
                
            </div>
        </div>
        <table class="table table-bordered mt-4">
            <thead class="thead-primary">
              <tr>
                <th >Id</th>
                <th >Title</th>
                <th >Descripcion</th>
                <th >Publish Date</th>
                <th >Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of Books | paginate: { itemsPerPage: 5, currentPage: page }; let iControl =  index">
                <th>{{book.id}}</th>
                <th>{{book.title}}</th>
                <th style="max-width: 25ch;">{{book.description}}</th>
                <th>{{book.publishDate | date: 'yyyy-MM-dd'}}</th>
                <th>
                    <a routerLink = "/detalle-books/{{book.id}}" class="btn btn-primary">Detalle</a> | 
                    <a class="btn btn-danger" role="button" (click)="Borrar(book.id,iControl)">Borrar</a>
                </th>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
